h1{
  
  color: rgb(228, 225, 26);
}
body{
  background: #17bacf;
  
}
.bholu{
  background-color: rgb(70, 178, 240);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
} 
.bholu{
  background-color: rgb(70, 178, 240);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
}
.dholu{
  background-color: rgb(138, 48, 211);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
}
p{
  font-size: 30px;
  color: bisque;
}